
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
RAILS_MAX_THREADS=10

MYSQL_HOST_TEST=127.0.0.1
MYSQL_PORT_TEST=3308
MYSQL_USERNAME_TEST=sleepa
MYSQL_PASSWORD_TEST=

MYSQL_HOST_DEV=127.0.0.1
MYSQL_PORT_DEV=3307
MYSQL_USERNAME_DEV=sleepa
MYSQL_PASSWORD_DEV=

REDIS_HOSTS=redis://127.0.0.1:6380/0
REDIS_POOL_SIZE=30
REDIS_RECONNECT_ATTEMPTS=1







